/node_modules
/public/assets/*
!/public/assets/images/
!/public/assets/demo/
/public/uploads/
/public/design
/storage/debugbar
/vendor
.env
.idea/
*.log
*.swp
prepros.cfg
.DS_Store
composer.lock
composer.phar
Homestead.yaml
Homestead.json
